<div class="bg-aqua shadows-inset-01 home-section porque columns section-desktop">
    <div class="bg-white rounded-corner pb-3 flex-1-0-auto columns justify-content-center">
        <div class="container px-30 columns">
            <h1 class="aqua fz-36 text-center pt-4 mb-4">¿Por qué Seguro Peludo?</h1>
            <p class="text-center grey fz-20 mb-4">Estar preparado es la mejor opción para proteger la vida de aquellos peluditos a los que tanto amamos</p>
        </div>
        <div class="banda-web bg-pets pets-white">
            <div class="container">
                <div class="w-600 mx-auto flex-1-0-auto columns">
                    <div class="row mb-4">
                        <div class="col-4 d-flex flex-column align-items-center position-relative">
                            <div class="position-absolute" style="left: -36px;">
                                <img src="assets/imgs/puntos-amarillo.png" alt="puntos" width="100%">
                            </div>
                            <div class="br-aqua-2 bg-white w-100 h-100 br--8 overflow-hidden d-flex flex-column justify-content-between">
                                <img src="assets/imgs/veterinaria.png" alt="doctor" style="width:100%;height:100%;">
                                <h2 class="white bg-aqua text-center py-1">Atención Veterinaria</h2>
                            </div>
                        </div>
                        <div class="col-4 d-flex flex-column align-items-center">
                            <div class="br-aqua-2 bg-white w-100 h-100 br--8 overflow-hidden">
                                <img src="assets/imgs/Peluditos_Cachorros_2.png" alt="cachorros" style="width:100%;height:190px;">
                                <h2 class="white bg-aqua text-center py-1">Servicios de Guardería</h2>
                            </div>
                        </div>
                        <div class="col-4 d-flex flex-column align-items-center positio-relative">
                            <div class="position-absolute" style="right: -36px;bottom:0px;">
                                <img src="assets/imgs/puntos-amarillo.png" alt="puntos" width="100%" style="transform:rotate(180deg)">
                            </div>
                            <div class="br-aqua-2 bg-white w-100 h-100 br--8 overflow-hidden d-flex flex-column justify-content-between">
                                <img src="assets/imgs/Peludito_angel_gato.png" alt="doctor" style="width:100%;height:190px;">
                                <h2 class="white bg-aqua text-center py-1">Servicios Funerarios</h2>
                            </div>
                        </div>
                    </div>
                    <button class="br--8 br--none py-2 bg-yellow3 letraCot fz-14 w-100 mb-24 shadows--02" onclick="scrollDown(this)">VEAMOS LOS PLANES</button>
                    <div class="mx-auto d-flex justify-content-center align-items-center segundo-panel flex-1-0-auto pb-4">
                        <div class="mr-15 circle cursor-pointer bg-white aqua d-flex justify-content-center align-items-center shadows--02" onclick="scrollUp(this)" style="width:48px; height:48px;">
                            <fa-icon [icon]="faChevronUp"></fa-icon>

                        </div>
                        <div class="circle cursor-pointer bg-white aqua d-flex justify-content-center align-items-center shadows--02" onclick="scrollDown(this)" style="width:48px; height:48px;">
                            <fa-icon [icon]="faChevronDown"></fa-icon>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
