<div class="banner home-section columns">
    <div class="flex-1-0-auto">
        <div class="container px-30 w-428">
            <div class="d-flex flex-column align-items-center mb-1 position-img">
                <!-- <img src="img/logo-peludo.svg" alt="Mascotas" width="350px" class="mb-3"> -->
                <img src="assets/imgs/SP_LOGO_VA.svg" style="max-width:100%" alt="Mascotas" width="350px" class="mb-3" draggable="false">
                <p class="text-peludo fz-13 white"> ¡Protege a los que más amas!</p>


                <!-- <p class="fw-bold white fz-30" style="line-height:35px;">SEGURO<br>PELUDO</p> -->
            </div>
            <!-- <p class="fw-bold fz-14 white text-center mb-3">¡Protege a los que más amas!</p> -->
            <div class="group">
                <input maxlength="20" class="btn-efecto mb-3 input-peludo br-white-1 br--4 white placeholder-aqua bg-transparent w-100 fz-14 only-letters" type="text" id="nombreIni" onchange="namePet('nombreIni','nombrePel')" required="">
                <label for="" class="label-effect white">Nombre de tu peludito</label>
            </div>
            <button class="br--8 br--none py-12 bg-yellow3 letraCot fz-14 w-100 mb-3 shadows--02" onclick="asegurarBanner()">CONOCE MÁS</button>
            <div class="mx-auto mb-30 circle cursor-pointer mt-0 bg-white aqua d-flex justify-content-center align-items-center shadows--02" style="width:48px; height:48px;" onclick="scrollDown(this)">
                <fa-icon [icon]="faChevronDown" class="fz-6 white"></fa-icon>
            </div>
        </div>
    </div>
</div>
