<div class="bg-white shadows-inset-01 columns UsPlanes home-section">
    <div class="bg-aqua rounded-corner bg-pets bg-opacity-01 shadows-inset-02 flex-1-0-auto mt--1">
        <div class="container px-30 flex-1-0-auto columns">
            <div class="w-752 mx-auto">
                <h2 class="text-center pt-50 mb-30 white fw-bold fz-30">Nuestros Planes</h2>
                <p class="text-center mb-60 white fz-md-18 d-md-block d-none">Planeados pensando en la tranquilidad de tu peludito</p>
                <div class="grid-3c mb-3 head-planes-mobile mb-20">
                    <div class="bg-grey--light my-3 py-2 br-top-left-8 br-bottom-left-8">
                        <h3 class="grey fz-14 text-center">Básico</h3>
                        <h4 class="grey fw-bold text-center">$20.000</h4>
                        <p class="grey fz-14 text-center">Mensual</p>
                    </div>
                    <div class="overflow-hidden bg-yellow br--8">
                        <div class="bg-yellow--light d-flex align-items-center" style="height:16px; padding:0px 3px;">
                            <div style="width:12px; height:12px" class="bg-yellow circle cursor-pointer d-flex justify-content-center align-items-center">
                                
                                <fa-icon [icon]="faStar" class="fz-6 white"></fa-icon>
                            </div>
                            <p class="yellow--dark fz-10 text-center w-100">Popular</p>
                            <div style="width:12px; height:12px" class="bg-yellow circle cursor-pointer d-flex justify-content-center align-items-center">
                                <fa-icon [icon]="faStar" class="fz-6 white"></fa-icon>
                            </div>
                        </div>
                        <h3 class="white fz-14 text-center pt-2">Estándar</h3>
                        <h4 class="white fw-bold text-center">$28.000</h4>
                        <p class="white fz-14 text-center pb-2">Mensual</p>
                        <div class="bg-yellow--light d-flex align-items-center" style="height:16px; padding:0px 3px;">
                            <div style="width:12px; height:12px" class="bg-yellow circle cursor-pointer d-flex justify-content-center align-items-center">
                                <fa-icon [icon]="faStar" class="fz-6 white"></fa-icon>
                            </div>
                            <p class="yellow--dark fz-10 text-center w-100">Popular</p>
                            <div style="width:12px; height:12px" class="bg-yellow circle cursor-pointer d-flex justify-content-center align-items-center">
                                <fa-icon [icon]="faStar" class="fz-6 white"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="bg-grey--light my-3 pt-2 br-top-right-8 br-bottom-right-8">
                        <h3 class="grey fz-14 text-center">Premium</h3>
                        <h4 class="grey fw-bold text-center">$36.000</h4>
                        <p class="grey fz-14 text-center">Mensual</p>
                    </div>
                </div>
                <div class="grid-3c mb-3 head-planes-desk mb-20">
                    <div class="bg-grey--light my-4 overflow-hidden br-top-left-8 br-bottom-left-8">
                        <p class="bg-blue--dark white fz-24 text-center py-2">Básico</p>
                        <p class="blue--dark fz-24 text-center fw-light pt-30">$20.000</p>
                        <p class="blue--dark fz-24 text-center pb-30">Mensual</p>
                    </div>
                    <div class="overflow-hidden bg-yellow--lighter br--8">
                        <div class="bg-yellow--light d-flex align-items-center" style="height:24px; padding:0px 3px;">
                            <div style="width:20px; height:19px" class="bg-yellow not-media circle cursor-pointer d-flex justify-content-center align-items-center">
                                <fa-icon [icon]="faStar" class="fz-6 white"></fa-icon>
                            </div>
                            <p class="yellow--dark text-center w-100">Popular</p>
                            <div style="width:20px; height:19px" class="bg-yellow not-media circle cursor-pointer d-flex justify-content-center align-items-center">
                                <fa-icon [icon]="faStar" class="fz-6 white"></fa-icon>
                            </div>
                        </div>
                        <p class="white fz-24 text-center py-2 bg-yellow">Estándar</p>
                        <p class="yellow-darker fz-24 text-center fw-light pt-30">$28.000</p>
                        <p class="yellow-darker fz-24 text-center pb-30">Mensual</p>
                        <div class="bg-yellow--light d-flex align-items-center" style="height:24px; padding:0px 3px;">
                            <div style="width:20px; height:19px" class="bg-yellow circle cursor-pointer not-media d-flex justify-content-center align-items-center">
                                <fa-icon [icon]="faStar" class="fz-6 white"></fa-icon>
                            </div>
                            <p class="yellow--dark text-center w-100">Popular</p>
                            <div style="width:20px; height:19px" class="bg-yellow circle not-media cursor-pointer d-flex justify-content-center align-items-center">
                                <fa-icon [icon]="faStar" class="fz-6 white"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="bg-grey--light my-4 overflow-hidden br-top-right-8 br-bottom-right-8">
                        <p class="bg-blue--dark white fz-24 text-center py-2">Premium</p>
                        <p class="blue--dark fz-24 text-center fw-light pt-30">$36.000</p>
                        <p class="blue--dark fz-24 text-center pb-30">Mensual</p>
                    </div>
                </div>
                <h2 class="text-center pt-md-50 pt-20 mb-30 white fw-bold fz-30">Beneficios de Seguro Peludo</h2>
                <h3 class="text-center mb-20 white fz-14 fz-md-18 lh-28">Diseñamos nuestros planes para que sean simples y sencillos, de modo que puedas pasar menos tiempo eligiendo y más tiempo con tu peludito.</h3>
                <!--  <div class="d-grid br--8 overflow-hidden">
                    <div class="white bg-blue--dark text-center fz-14 py-12 px-2">Nuestros planes incluyen:</div>
                    <div class="bg-white blue--dark text-center fz-12 py-12 px-2">Gastos médicos por accidente</div>
                    <div class="bg-grey--light blue--dark text-center fz-12 py-12 px-2">Servicio de eutanasia por enfermedad o accidente</div>
                    <div class="bg-white blue--dark text-center fz-12 py-12 px-2">Asistencia funeraria cremación por enfermedad o accidente</div>
                    <div class="bg-grey--light blue--dark text-center fz-12 py-12 px-2">Consulta médica veterinaria a domicilio o en clínica</div>
                    <div class="bg-white blue--dark text-center fz-12 py-12 px-2">Guardería por accidente o enfermedad del asegurado</div>
                    <div class="bg-grey--light blue--dark text-center fz-12 py-12 px-2">Muerte accidental de la mascota</div>
                    <div class="bg-white blue--dark text-center fz-12 pt-12 pb-3 px-2">Responsabilidad civil extra contractual
                        <p class="blue--dark text-center fz-12 fw-light pt-1">Daños a Bienes de Terceros</p>
                        <p class="blue--dark text-center fz-12 fw-light pt-1">Lesiones o Muerte a Terceros</p>
                        <p class="blue--dark text-center fz-12 fw-light pt-1">Gastos Médicos de Urgencia</p>
                        <p class="blue--dark text-center fz-12 fw-light pt-1">Gastos de Defensa</p>
                    </div>
                </div> -->
                <div class="head-planes-mobile"></div>
                <div class="col-lg-12 col-md-12 col-sm-10 col-xs-10 px-0 center-div pt-md-50 pt-20">
                    <table id="tablePlanes">
                        <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center"></th>
                                <th class="text-center text-black bg-yellow br-t-l-r-16 br-t-r-r-16 padding-6 ">Popular</th>
                                <th class="text-center"></th>
                            </tr>
                            <tr>
                                <th class="text-center "></th>
                                <th class="text-center bg-blue--ext text-white br-t-l-r-16 padding-6">Básico</th>
                                <th class="text-center bg-blue--ext text-white padding-6">Estándar</th>
                                <th class="text-center bg-blue--ext text-white br-t-r-r-16 padding-6">Premium</th>
                            </tr>
                        </thead>
                        <tbody id="bodyTablePlanes">
                            <tr class="tableResult tr-white">
                                <td class="text-center text-bold fz-md-16 fz-12 not-border">Gastos médicos por accidente</td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-blue-light">
                                <td class="text-center text-bold fz-md-16 fz-12">Servicio de eutanasia por enfermedad o accidente</td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-white">
                                <td class="text-center text-bold fz-md-16 fz-12">Asistencia funeraria, cremación por enfermedad o accidente</td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-blue-light">
                                <td class="text-center text-bold fz-md-16 fz-12">Consulta médica veterinaria a domicilio o en clínica</td>
                                <td class="text-center"></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-white">
                                <td class="text-center text-bold fz-md-16 fz-12">Guardería por accidente o enfermedad del asegurado</td>
                                <td class="text-center"></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-blue-light">
                                <td class="text-center text-bold fz-md-16 fz-12">Muerte accidental de la mascota</td>
                                <td class="text-center"></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-white">
                                <td class="text-center text-bold fz-md-16 fz-12">Responsabilidad civil extracontractual</td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-white">
                                <td class="text-center fz-md-16 fz-12">Daños a Bienes de Terceros</td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-white">
                                <td class="text-center fz-md-16 fz-12">Lesiones o Muerte a Terceros</td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-white">
                                <td class="text-center fz-md-16 fz-12">Gastos Médicos de Urgencia</td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>

                            <tr class="tableResult tr-white">
                                <td class="text-center not-border fz-md-16 fz-12">Gastos de Defensa</td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center"><fa-icon [icon]="faCheck"></fa-icon></td>
                                <td class="text-center not-border"><fa-icon [icon]="faCheck"></fa-icon></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="mx-auto container px-30 w-428 d-flex justify-content-center align-items-center flex-1-0-auto py-4">
            <button class="mt-4 br--8 br--none py-12 bg-yellow3 letraCot fz-14 w-100 mb-3 shadows--02" onclick="asegurarBanner()">COTIZAR</button>
        </div>
        <div class="d-grid peluditos mx-auto w-428">
            <img src="/img/Peluditos_Esticker.png" alt="mascotas" width="100%" class="mt-30 mb-0">
        </div>

        <div class="mx-auto d-flex justify-content-center align-items-center flex-1-0-auto py-4">
            <div class="mr-15 circle cursor-pointer bg-white aqua d-flex justify-content-center align-items-center shadows--02" onclick="scrollUp(this)" style="width:48px; height:48px;">
                <fa-icon [icon]="faChevronUp"></fa-icon>
            </div>
            <div class="circle cursor-pointer bg-white aqua d-flex justify-content-center align-items-center shadows--02" onclick="scrollDown(this)" style="width:48px; height:48px;">
                <fa-icon [icon]="faChevronDown"></fa-icon>
            </div>
        </div>
    </div>
</div>