<div class="bg-aqua foot-fixed pb-3">
    <div class="w-428 mx-auto">
        <!-- <p class="white pt-20 pb-12 text-center" style="line-height:1;">Plan seleccionado: <strong id="plan-seleccionado">Plan Estándar</strong></p> -->
        <p class="white text-center fz-14 pb-3 pt-3" style="line-height:1;">Suscripción mensual: <strong id="valor-plan">{{planner.plan?.planPrice | currency}}</strong></p>
        <div class="d-flex px-30 justify-content-center">
            <button class="bg-white aqua fz-14 br--8 shadows--02 py-1 mr-15 w-100 br--none" id="btnAtras">ATRÁS</button>
            <button class="bg-yellow--light letraCot fz-14 br--8 shadows--02 py-1 w-100 br--none" id="btnSig">SIGUIENTE</button>
        </div>
    </div>
</div>
